body{
background-color: #f9f7fe;
 font-family:"Roboto", sans-serif;
;
}
header {
    border-bottom: 1px solid #f9f7fe;
padding: 0 0 30px 0;
}

.holder{
 background-color: white;
 display: block;
 margin: 30px auto;
 max-width: 600px;
 box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
 border: none;
 border-radius: 6px;
padding: 30px;
}


.search-input {
background-color: #f9f7fe;
border: none;
border-radius: 5px;
width: 80%;
padding: 15px 20px;
font-size: 16px;
}

.submit {
background-color: #885df1;
color: white;
border: none;
border-radius: 5px;
width: 18%;
padding: 15px 20px ;
font-size: 16px;

}

.city {
    display: flex;
    justify-content: space-between;
}

.temperature {
    font-size: 88px;
    line-height: 88px;
    font-weight:bold ;
}

.current-weather-container {
    
}


footer {
border-top: 1px solid #f9f7fe;
padding: 30px 0 0 0;
text-align: center;
font-size: 14px;
color: rgba(0, 0, 0, 0.6);
}